@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 400
  src local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')

@font-face
	font-family 'pmg'
	src url('fonts/pmg.eot?-elc38i')
	src url('fonts/pmg.eot?#iefix-elc38i') format('embedded-opentype'), url('fonts/pmg.woff?-elc38i') format('woff'), url('fonts/pmg.ttf?-elc38i') format('truetype'), url('fonts/pmg.svg?-elc38i#pmg') format('svg')
	font-weight normal
	font-style normal

[class^="icon-"], [class*=" icon-"]
	font-family 'pmg'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-key:before 
	content "\e600"

.icon-briefcase:before 
	content "\e601"

.icon-credit-card:before 
	content "\e603"

.icon-floppy:before
	content "\e604"

.icon-keyboard:before 
	content "\e605"

.icon-lock:before 
	content "\e602"

